* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
align-items: center;
}
.container {
    width: 98vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid #ccc;
}
.code-editor {
    background-color: #1e1e1e;
    display: grid;
    padding: 0.5rem;
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto;
    width: 900vw;
}
h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin:  0.2rem 0;
    color: #819eb9;
    display: flex;
    gap: 5px;
}
span {
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: #555;
    border-radius: 5px;    
}
#html {
    background-color: crimson;
    color: white;
}
#css {
    background-color: #0f9d58;
    font-size: 18px;
     font-weight: 900;
    color: white;
}
#js {
    background-color: #f4b400;
    font-weight: 900;
    color: white;
    padding: 5px;
}
textarea {
    width: 100%;
    height: calc(100% - 2.2rem);
    background-color: #2d2d2d;
    border: none;
    color: #fff;
    padding: 0.5rem;
    resize: vertical;
    font-size: 1.1rem; 
    outline: none; 
    transition: all 0.5s;
} 
textarea::-webkit-scrollbar, .code-editor::-webkit-scrollbar {
    width: 0.4rem;
}
textarea::-webkit-scrollbar-thumb, .code-editor::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 1rem;
} 
/*textarea:hover {
-webkit-animation: turnback 0.5 ease-in-out forwards;
animation: turnback 0.5 ease-in-out forwards;
transform-style: preserve-3d;
position: absolute;
transform-origin: 175px 50%;
-webkit-transform-style: preserve-3d;
width: 150px;
height: 150px;
top: 0;
left: 0;
}*/ 